<div class="jumbotron center"> 
  <h1>Welcome to ShopOnline</h1>
  <h2>The best shop in the word!</h2>
  <% if !current_user.present? %>
    <p><%= link_to "sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
  <% end %>
</div> 