<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name.capitalize %></h1>
    <p>
      I recied request reset password from you when using onlineShop app
      Plesase click here to reset your password
    </p>
  <%= link_to "Reset password", get_edit_password_reset_users_url(@user) %>
  </body>
</html>