#logo
  float: left
  font-size: 1.7em
  color: #fff
  text-transform: uppercase
  letter-spacing: -1px
  font-weight: bold
  &:hover
    color: #fff
    text-decoration: none
.center 
  text-align: center

.jumbotron
  background-image: asset-url('beauty.jpg')
  background-size: cover
.jumbotron
  color: #fff
  text-align: center
  margin-bottom: 30px
  letter-spacing: -1px
  font-weight: bold

// .btn-xlarge
//   background-color: #073B15
// .btn-xlarge:hover
//   color: #fff
//   text-decoration: none
.well a
  color: #073B15

// .chef_info
//   margin-top: 10px

.listing
  list-style: none
  padding-left: 0 
  text-align: center

ul li
  text-align: center
  list-style: none
  padding-left: 0 

th, td 
  padding: 15px
  text-align: left

// .chef-title
//   color: #073B15
//   font-weight: bold
//   font-size: 1.25em

// .input_checkbox input
//   width: auto !important

// .center-block
//   float: none

// .chat-container
//   botton: 0
//   left: 0
//   right: 0
//   top: 150px
//   width: 80

// .message-container
//   .form-control
//     float: left
//     width: 80%
//   .btn
//     float: right
//     position: relative
//     height: 54px !important
//     width: 18%

// .message
//   padding-left: 5px
//   padding-top: 10px

// .messages
//   border: 1px solid #eaeaea
//   height: 16em
//   position: relative
//   overflow: auto



.card-product .img-wrap 
  border-radius: 3px 3px 0 0
  overflow: hidden
  position: relative
  height: 320px
  text-align: center
.card-product .img-wrap img 
  max-height: 100%
  max-width: 100%
  object-fit: cover
.card-product .info-wrap 
  overflow: hidden
  padding: 15px
  border-top: 1px solid #eee
  height: 180px
.card-product .info-wrap .content
  height: 70px
.card-product .btn 
  margin-top: 10px
  margin-left: 5px


.gallery-wrap .img-big-wrap img
  height: 450px
  width: auto
  display: inline-block
  cursor: zoom-in


